# Virtual environment
.venv/
.venv_deploy_test/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment variables / secrets
.env

# Local data
data/

# OS files
.DS_Store
Thumbs.db